.big{
    border: black 15px solid;
    height: 478px;
    width: 900px;
    margin: auto;
}
.pink{
    background-color: pink;
    border: solid rgb(80, 80, 80) 2px;
    height: 90px;
    width: 180px;
}
.green{
    background-color: rgb(82, 190, 82);
    border: solid rgb(80, 80, 80) 2px;
    height: 90px;
    width: 140px;
}
.blue{
    background-color: rgb(98, 169, 236);
    border: solid rgb(80, 80, 80) 2px;
    height: 90px;
    width: 310px;
}
.flex-start{
    display: flex;
    justify-content: flex-start;
    background-color: rgb(92, 92, 92);
}
.flex-end{
    display: flex;
    justify-content: flex-end;
    background-color: rgb(92, 92, 92);
    margin-top: 2px;
}
.center{
    display: flex;
    justify-content: center;
    background-color: rgb(92, 92, 92);
    margin-top: 2px;
}
.space-between{
    display: flex;
    justify-content: space-between;
    background-color: rgb(92, 92, 92);
    margin-top: 2px;
}
.space-around{
    display: flex;
    justify-content: space-around;
    background-color: rgb(92, 92, 92);
    margin-top: 2px;
}